@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;


}

.header{
    width:100%;

    background-color: #d6d3d3;
    display:flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    
    
}

.logo{
    width:15%;
    height: 70px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;

}

.nav{
    width: 30%;
    height:70px;
    
}

.nav-links{
    height:70px;
    width: 100%;
    
    list-style-type:none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

/* banner-css */
.banner{
    width:100%;
    height:500px;
    background-color: #d6d3d3;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
    display: flex;
    align-items: center;
}

/* parent */
.details{ 
    width: 60%;
    padding: 20px;
    /* background-color:red; */
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;
}

.t1{
    
    font-size: 60px;

}
.t2{
    color:black;
   
    font-size: 70px;
    font-weight: 700;
}
.description{
    font-size: 20px;
}
.cta{
    padding: 15px 40px;
    font-size: 20px;
    margin-top: 35px;
    background-color: black;
    color: white;
    border: 2px solid black; 
    border-radius: 10px;
    cursor: pointer;
    transition: .2s;

}

.cta:hover{
    background-color: transparent;
    color: black;
}

.person{
   

    background-color: white;
    border-radius: 30px;
    /* align-self: self-end; */
    padding: 30px;

}
.personimg{
    height:400px;
    mix-blend-mode: darken;
}

/* servces */

.services{
    width:100%;
    padding:30px 5%;
    background-color: white;


}

.section-title{
    font-family: 'Montserrat', sans-serif;
    font-size:50px;
    font-weight: 200;
}
.section-child{
    width:100%;
    padding: 30px 0px;
    /* background-color: grey; */
    margin-top: 30px;
    display: flex;
    column-gap: 4%;
}

.service{
    width:22%;
    
    
    display: Flex;
    flex-direction: Column;
    align-items: self-end;
    padding:20px;
    font-family: 'Montserrat', sans-serif;
    row-gap: 15px;
    border-radius: 10px;
    box-shadow: 0 0 2px grey;
}
.icon{
    padding: 50px;
    font-size: 70px;
    align-self: center;
}
.service-btn{
    padding:10px 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;

}

/* acheivements */
.achi{
    padding:30px 10px;
    background-color: #d6d3d3;
    font-family: 'Montserrat', sans-serif;


}

.acheivement{
    width: 18%;
    padding: 50px;
    background-color: #d6d3d3;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  


}
.number{
    font-size:45px;
    
    font-weight: bold;

}

.tag{
    font-size: 18px;

}

.acheivement-child{
    column-gap: 2.5%;
}

/* quote css */
.quote{
    width:100%;
    height: 400px;
    /* padding:0px 10%; */
    /* background-color: red; */
    background-size: cover;
    
    background-image: url(https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}

.overlay{
    width: 100%;
    height: 100%;
    padding:30px 10%;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
}
.quote-area{
    width:100%;
    padding:30px 0px;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;



}

.inp{
    width: 70%;
    height:50px;
    border: 2px solid white;
    font-size: 18px;
    text-indent: 20px;
    border-radius: 10px;
    background-color: transparent;

}
::placeholder{
    color:white;
}